* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: coral;
    color: rgb(150, 19, 45);
}

.main {
    height: 25rem;
    width: 20rem;
    background-color: rgb(188, 241, 241);
    padding: 1rem;
    margin: 4rem;
    margin-left: 30rem;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(150, 19, 45);
    border-width: 3px;

    justify-content: center;
    align-items: center;


}

.screen {
    height: 3rem;
    width: 15rem;
    border-radius: 1rem;
    margin: 2rem;
    margin-left: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(150, 19, 45);
    color: cornsilk;
}

.btn {
    height: 50px;
    width: 140px;
    background-color: coral;
    color: rgb(150, 19, 45);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    margin-left: 6rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

#reset {
    height: 2rem;
    width: 6rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: 7.5rem;
    text-align: center;
}